.deleteHab-modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.deleteHab-modal h1 {
    margin: 0;
}

.deleteHab-modal p {
    margin: 0;
    padding-bottom: 15px;
}