.login-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgb(126, 125, 125);
    /* border: solid, 1px, grey; */
    padding: 2em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    margin-top: 60px;
    padding-bottom: 1em;
    min-width: 297px;
    position: absolute;
}

.login-card h1 {
    margin-top: 0;
    align-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form label {
    display: flex;
    flex-direction: column;
}

.email {
    margin-bottom: 15px;
}

.password {
    margin-bottom: 20px;
}

.login-button {
    /* border: solid, 1px, grey;
    background-color: white;
    border-radius: 8px; */
    /* box-shadow: 10px, 5px, 5px, red !important; */

    align-self: center;
    width: fit-content;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5em 1em;
    border: 1px solid lightgrey;
    border-radius: 1em;
    font-size: 1em;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 5px lightgrey;
    margin-bottom: 1em;
}

.login-button:hover {
    box-shadow: none;
    background-color: lightgrey;
}

.login-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-footer p {
    margin: 0;
    margin-top: 4px;

    font-size: small;
}

.login-card .desc {
    color: grey;
}

.login-card .create-account {
    color: purple;
}

#demo-user {
    align-self: center;
    width: fit-content;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5em 1em;
    border: 1px solid lightgrey;
    border-radius: 1em;
    font-size: 1em;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 5px lightgrey;
    margin-bottom: 10px;
}

#demo-user:hover {
    box-shadow: none;
    background-color: lightgray;
}

.login-footer button {
    border: none;
    background-color: white;
    color: purple;
}


.secret {
    color: white;
    margin: 0;
    min-height: 19px;
    min-width: 286px;
}

.seen {
    min-height: 19px;
    color: red;
    margin: 0;
    padding-bottom: 0;
    margin-left: 15px;
    min-width: 286px;
    font-size: small;
}